<div class="routes-wrapper">
<div class="route-contents">
  <div class="posts-wrapper">
    <% if @favorites.present? %>
      <p class="what-kind">お気に入り投稿一覧</p>
    <% else %>
      <p class="what-kind">お気に入り登録されている投稿はありません</p>
    <% end %>
  </div>
  <% if @favorites.present? %>
  <% @favorites.each do |favorite|%>
  <%= link_to post_path(favorite.post_id) do %>
  <div class="posts">
      <div class= "post">
        <% if favorite.post.favorite_counts.count >= 1 %>
        <div class="content">
          <p class="content-name favorite-count">お気に入り登録数</p>
          <%= favorite.post.favorite_counts[0]['count'] %>
        </div>
        <% end %>
        <div class="content">
          <p class="content-name">title:</p>
          <%= favorite.post.title %>
        </div>
        <div class="content">
          <p class="content-name">area:</p>
          <%= favorite.post.prefecture.name %>
          <%= favorite.post.city %>
        </div>
        </div>
        <div class="content">
          <p class="content-name">with:</p>
          <%= favorite.post.member.name %>
        </div>
        <div class="post-nickname">
          <%= link_to "by  #{favorite.post.user.nickname}", "/users/#{favorite.post.user_id}/show", class:"post-nickname" %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <% end %>
</div>
</div>