<%= form_with(model: @post, local: true) do |f| %>
  <div class="post-box">
    記事を編集する

    <div class="posts">
      <div class="post">
        <div class="content">
          <p class="content-name" id="test">title:</p>
          <%= f.text_field :title, value: @post.title, class:"title", placeholder:"タイトル" %>
        </div>
        <div class="content">
          <p class="content-name" id="test">outline:</p>
          <%= f.text_area :outline, value: @post.outline, class:"text", placeholder:"概要" %>
        </div>
        <div class="content">
          <p class="content-name">area:</p>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {selected: @post.prefecture_id}, {class:"prefecture-select"}) %>
          <%= f.text_field :city, class:"city", value: @post.city, placeholder:"市区町村" %>
        </div>
        </div>
        <div class="content">
          <p class="content-name">with:</p>
          <%= f.collection_select(:member_id, Member.all, :id, :name, {selected: @post.member_id}, {class:"member-select"}) %>
        </div>
        <div class="content">
          <p class="content-name">when:</p>
          <%= f.collection_select(:timing_id, Timing.all, :id, :name, {selected: @post.timing_id}, {class:"time-select"}) %>
        </div>
        <div class="content">
          <p class="content-name">when:</p>
          <%= f.collection_select(:transportation_id, Transportation.all, :id, :name, {selected: @post.transportation_id}, {class:"transportation-select"}) %>
        </div>
        <%= f.submit "入力完了" , id:"submit"%>
      </div>
  </div>
<% end %>
