<div class="routes-wrapper">
  <div class="route-contents">
    <div class="posts-wrapper">
      <p class="what-kind">最新SPOT一覧</p>
    </div>
    <% @posts.each do |post|%>
      <%= link_to post_path(post.id) do %>
      <div class="posts">
        <div class= "post">
          <% if post.favorite_counts.present? %>
            <% if post.favorite_counts[0]['count'] > 0 %>
              <div class="content">
              <p class="content-name favorite-count">お気に入り</p>
              <%= post.favorite_counts[0]['count'] %>
              </div>
            <% end %>
          <% end %>
          <div class="content">
            <p class="content-name">title</p>
            <%= post.title %>
          </div>
          <div class="content">
            <p class="content-name">about</p>
            <p class="post-about"><%= post.outline %></p>
          </div>
          <div class="content">
            <p class="content-name">area</p>
            <%= post.prefecture.name %>
            <%= post.city %>
          </div>
        </div>
        <div class="content">
          <p class="content-name">with</p>
          <%= post.member.name %>
        </div>
        <div class="post-nickname">
          <%= link_to "by  #{post.user.nickname}", "/users/#{post.user_id}/index", class:"post-nickname" %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
</div>