<div class="form-wrapper">
<div class="form-box">
<%= form_with(model: @post, local: true, id: "form") do |form| %>
<%= render 'shared/error_messages', model: @post %>
  <div class="post-box">
    <h3>SPOTを投稿する</h3>

<%# Postsに保存 %>
<%# タイトル %>
    <div class="post-titile">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= form.text_field :title, class:"title", placeholder:"タイトル", id: "forms", class: "form-title"%>
    </div>

    <%# 概要 %>
    <div class="post-outline">
      <div class="weight-bold-text">
        概要
        <span class="indispensable">必須</span>
      </div>
      <%= form.text_area :outline, class:"form-outline", placeholder:"テキスト" %>
    </div>

    <div class="region">
    <%# prefecture %>
      <div class="post-prefecture">
        <div class="weight-bold-text">
          都道府県
          <span class="indispensable">必須</span>
        </div>
        <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %>
      </div>
    <%# 市区町村 %>
      <div class="post-city">
        <div class="weight-bold-text">
          市区町村
        </div>
        <%= form.text_area :city, class:"form-city", placeholder:"任意で記入" %>
      </div>
    </div>

    <%# メンバー %>
    <div class="form">
      <div class="weight-bold-text">
        メンバー
        <span class="indispensable">必須</span>
      </div>
      <%= form.collection_select(:member_id, Member.all, :id, :name, {}, {class:"member-select"}) %>
    </div>
    <%= form.submit "SPOT詳細入力へ" , id:"submit", class:"submit"%>

  <% end %>
  </div>
</div>