<%= form_with(model: @post, local: true, id: "form") do |form| %>
  <div class="post-box">
    記事を投稿する

<%# Postsに保存 %>
  <%= form.text_field :title, class:"title", placeholder:"タイトル", id: "forms" %>
  <%= form.text_area :outline, class:"text", placeholder:"テキスト" %>
  <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %>
  <%= form.text_field :city, class:"city", placeholder:"市区町村" %>
  <%= form.collection_select(:member_id, Member.all, :id, :name, {}, {class:"member-select"}) %>
  <%= form.collection_select(:timing_id, Timing.all, :id, :name, {}, {class:"time-select"}) %>
  <%= form.collection_select(:transportation_id, Transportation.all, :id, :name, {}, {class:"transportation-select"}) %>


    <%= form.submit "ルート入力へ" , id:"submit"%>
  </div>
  <% end %>