<div class="routes-wrapper">
  <div class="route-contents">
    <div class="posts-wrapper">
      <h1>検索結果：<%= "#{@posts.length}" %>件</h1>
    </div>
    <% @posts.each do |post|%>
      <%= link_to post_path(post.id) do %>
      <div class="posts">
        <div class= "post">
          <% if post.favorite_counts.count >= 1 %>
          <div class="content">
            <p class="content-name favorite-count">お気に入り登録数</p>
            <%= post.favorite_counts.count %>
          </div>
          <% end %>
          <div class="content">
            <p class="content-name">title</p>
            <%= post.title %>
          </div>
          <div class="content">
            <p class="content-name">about</p>
            <%= post.outline %>
          </div>
          <div class="content">
            <p class="content-name">area</p>
            <%= post.prefecture.name %>
            <%= post.city %>
          </div>
        </div>
        <div class="content">
          <p class="content-name">with</p>
          <%= post.member.name %>
        </div>
        <div class="post-nickname">
          <%= link_to "by  #{post.user.nickname}", "/users/#{post.user_id}/show", class:"post-nickname" %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
</div>
</div>