<div class="routes-wrapper">
  <div class="route-contents">
    <div class="posts">
      <div class="post">
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", post_path(@post), method: :delete %>
        <div class="content">
          <p class="content-name">title:</p>
          <%= @post.title %>
        </div>
        <div class="content">
          <p class="content-name">area:</p>
          <%= @post.prefecture.name %>
          <%= @post.city %>
        </div>
        </div>
        <div class="content">
          <p class="content-name">with:</p>
          <%= @post.member.name %>
        </div>
        <div class="content">
          <p class="content-name">when:</p>
          <%= @post.timing.name %>
        </div>
        <div class="post-nickname">
          <%=link_to "by  #{@post.user.nickname}", "#", class:"post-nickname" %>
        </div>
      </div>
      <div class="details">
        <div class="content">
          <p class="content-name">when:</p>
          <%#= @plan.text %>
        </div>
        <div class="content">
          <p class="content-name">when:</p>
          <%#= @plan.place %>
        </div>
        <div class="content">
          <p class="content-name">when:</p>
          <%#= image_tag @plan.image, :size => '600x400' if @post.plan.image.attached? %>
        </div>
      </div>
    </div>
  </div>
</div>
