<div class="routes-wrapper">
  <div class="route-contents">
    <div class="posts">
      <% if current_user.id == @post.user_id %>
        <div class="edit_destroy">
          <%= link_to "編集", edit_post_path(@post), class:"edit-destroy-btn" %>
          <%= link_to "削除", post_path(@post), method: :delete, class:"edit-destroy-btn" %>
        </div>
      <% else %>
        <% if @favorite == true %>
          <div class= "favorite-btn" style="background-color: #FF6600; color: white;" id= "favorite-btn" data_id=<%= @post.id %>>
            <%= image_tag "favorite-star.png" ,id:"favorite-star-icon" ,width:"20",height:"20" %>
            <span id="favorite">お気に入り登録済み</span>
          </div>
        <% else %>
          <div class= "favorite-btn" id= "favorite-btn" data_id=<%= @post.id %>>
            <%= image_tag "favorite-star.png" ,id:"favorite-star-icon" ,width:"20",height:"20" %>
            <span id="favorite">お気に入りに登録する</span>
          </div>
        <% end %>
      <% end %>
      <div class="post">
        <div class="content">
          <p class="content-name" id="test">title</p>
          <%= @post.title %>
        </div>
        <div class="content">
          <p class="content-name">about</p>
          <%= @post.outline %>
        </div>
        <div class="content">
          <p class="content-name">area</p>
          <%= @post.prefecture.name %>
          <%= @post.city %>
        </div>
        </div>
        <div class="content">
          <p class="content-name">with</p>
          <%= @post.member.name %>
        </div>
        <div class="post-nickname">
          <%=link_to "by  #{@post.user.nickname}", "#", class:"post-nickname" %>
        </div>
      </div>


      <% @plans.each do |plan| %>
      <div class="posts">
          <% if current_user.id == @post.user_id %>
            <%= link_to "編集", "/posts/#{@post.id}/plans/#{plan.id}/edit", class:"edit-destroy-btn" %>
            <%= link_to "削除", "/posts/#{@post.id}/plans/#{plan.id}", method: :delete, class:"edit-destroy-btn" %>
          <% end %>
          <div class="content">
            <p class="content-name">SPOT</p>
            <%= plan.place %>
          </div>
          <div class="content">
            <p class="content-name">about</p>
            <%= plan.text %>
          </div>
          <% if plan.image.attached? %>
            <div class="image-content">
              <%= image_tag plan.image.variant(resize: '600x400'), class:"plan-image" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if current_user.id == @post.user_id %>
        <div class="add">
          <div class="add-box">
            <%= link_to "＋ スポットを追加する", new_post_plan_path(@post), class:"add-show" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
