<%= form_with(model: @plan, url: post_plan_path, method: :patch, local: true) do |f| %>
  <div class="post-box">
    記事を編集する
    <%= f.text_area :place, class:"place",  placeholder:"場所" %>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
      <%= f.text_area :text, class:"text",  placeholder:"テキスト" %>
      <%= f.submit "入力完了" ,class:"btn" %>
  </div>
<% end %>