<div id="plan-wrapper" data-id=<%= params[:post_id] %>>
<div class="plan-form-wrapper">
<div class="plan-form-box">
  <h3>SPOT詳細を登録する</h3>

  <div class="plan-list" id="first-plan">
    <%= form_with(model: @plan, url: post_plans_path(params[:post_id]), method: :post, local: true, class:"plan-lists", id: "form") do |f| %>
    <%= render 'shared/error_messages', model: @plan %>
      <div class="weight-bold-text">
        SPOT名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :place, class:"plan-place", placeholder:"入力してください" %>

      <div class="weight-bold-text">
        about
        <span class="indispensable">必須</span>
      </div>
      <%= f.rich_text_area :content, class:"plan-text", placeholder:"SPOTの概要やおすすめポイントなど" %> 

      <%= f.submit "投稿する", class:"submit", id:"submit" %>
      <div class="add-plan" id="add-plan">＋ SPOTを追加する</div>
      </div>

    <% end %>
  </div>
</div>

  <div class="plan-list">
    <% if @plans.present? %>
    <% @plans.each do |plan| %>
      <div class="posts">
        <div class="content">
          <p class="content-name">SPOT</p>
          <%= plan.place %>
        </div>
        <div class="content">
          <p class="content-name">おすすめポイント</p>
          <%= plan.text %>
        </div>
        <% if plan.image.attached? %>
          <div class="content">
            <p class="content-name">画像</p>
            <%= image_tag plan.image.variant(resize: '600x400') %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>