<%= form_with(model: @plan, url: post_plans_path(params[:post_id]), method: :post, local: true, id: "form") do |f| %>
  <div class="post-box">
    ルートを入力してください

<%# Plansに保存 %>
<div id="plan-wrapper" data-id=<%= params[:post_id] %>>
  <%= f.text_area :place, class:"place", placeholder:"場所" %>
  <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
  <%= f.text_area :text, class:"text", placeholder:"テキスト" %> 
    <%= f.submit "投稿する", class:"submit"%>
  </div>

  <div id="add-plan">プランを追加する</div>
<% end %>
</div>


<div id="test" style="display: none;">
<%= form_with(model: @plan, url:post_plans_path, local: true, id: "form2") do |f| %>
  <%= f.text_area :place, class:"place", placeholder:"場所" %>
  <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p> 
        <%= f.file_field :image, id:"item-image" %>
      </div>
  <%= f.text_area :text, class:"text", placeholder:"テキスト" %> 
  <div id="add-plan">プランを追加する</div>
    <%= f.submit "投稿する", class:"submit"%>
<% end %>
</div> 