<div id="plan-wrapper" data-id=<%= params[:post_id] %>>
  <div class="plan-list">
    <% @plans.each do |plan| %>
      <div class="posts">
        <div class="content">
          <p class="content-name">スポット</p>
          <%= plan.place %>
        </div>
        <div class="content">
          <p class="content-name">おすすめポイント</p>
          <%= plan.text %>
        </div>
        <% if plan.image.attached? %>
          <div class="content">
            <p class="content-name">画像</p>
            <%= image_tag plan.image, :size => '600x400' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="plan-list" id="first-plan">
    <%= form_with(model: @plan, url: post_plans_path(params[:post_id]), method: :post, local: true, class:"plan-lists", id: "form") do |f| %>
      <div class="weight-bold-text">
        スポット名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :place, class:"place", placeholder:"場所" %>

      <div class="click-upload">
      <p>クリックしてファイルをアップロード（任意）</p>
      <%= f.file_field :image, id:"item-image" %>
      </div>

      <div class="weight-bold-text">
        おすすめポイント
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :text, class:"text", placeholder:"テキスト" %> 
      <%= f.submit "投稿する", class:"submit", id:"submit" %>
      </div>

    <% end %>
  </div>

    <div class="add-plan" id="add-plan">＋ スポットを追加する</div>