<!DOCTYPE html>
<html>
  <head>
    <title>MySpot</title>
    <%# bootstrap用の記述 %>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='top-page-header'>
        <%# アイコン トップページへのリンク%>






  <div class="container">
  <div class="row align-items-center">
    <div class="col">
      <a href="/" class="icon"><i class="fas fa-route"></i>MySpot</a>

    <div class="test">
      
    </div>
    </div>





    <div class="col">
      <p><%= link_to 'HOT SPOT', favorite_counts_path, class: "route-list" %></p>
    </div>
    <div class="col">
      <p><%= link_to 'お気に入り', "/users/#{current_user.id}/favorites", class: "favorite-list" %></p>
    </div>
    <div class="col">
      <p><%= link_to "SPOT作成", new_post_path, class: "new-list" %></p>
    </div>

<div class="col">
          <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
          <div class="select-pref">
            <%= form.collection_select(:pref, Prefecture.all, :name, :name, {}, {class:"search-prefecture"}) %>
          </div>
          <div class="search-text">
            <%= form.text_field :keyword, placeholder: "SPOTを検索する", class: "search-input" %>
          </div>
            <%= form.submit "検索", class: "search-btn" %>
        <% end %>
</div>

    <% if user_signed_in? %>
        <div class="col">
      <p><%= link_to current_user.nickname, "/users/#{current_user.id}/index", class: "header-button user-nickname" %></p>  
      </div>
      <div class="col">
      <p><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "header-button logout" %></p> 
        </div>
      <% else %>
      <div class="col">
        <p><%= link_to 'login', new_user_session_path, class: "header-button login" %></p>
        </div>
        <div class="col">
        <p><%= link_to '新規登録', new_user_registration_path, class: "header-button sign-up" %></p>
        </div>
      <% end %>



  </div>

      
    </header>
    <%= yield %>
    <%# bootstrap用の記述 %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <%# ここまで %>
  </body>
</html>
