<!DOCTYPE html>
<html>
  <head>
    <title>RouterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='top-page-header'>
        <%# アイコン トップページへのリンク%>
      <div class="icon">
        <a href="/"><i class="fas fa-route"></i></a>
      </div>
        <ul class='lists-left'>
          <% if user_signed_in? %>
            <li><%= link_to 'My Routes', "/users/#{current_user.id}/index", class: "route-list" %></li>
            <li><%= link_to 'お気に入り', "/users/#{current_user.id}/favorites", class: "favorite-list" %></li>
            <li><%= link_to "New Route", new_post_path, class: "new-list" %></li>
          <% end %>
        </ul>
        <div>検索フォーム</div>
        <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, "/users/#{current_user.id}/index", class: "header-button user-nickname" %></li>
            <li><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "header-button logout" %></li> 
          <% else %>
            <li><%= link_to 'login', new_user_session_path, class: "header-button login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "header-button sign-up" %></li>
          <% end %>
        </ul>
    </header>
    <%= yield %>
  </body>
</html>
